<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSR App</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <h1>Hello, SSR App!</h1>
    <nav>
        <ul>
            <li><a href="/" onclick="route()">Home</a></li>
            <li><a href="/about" onclick="route()">About</a></li>
            <li><a href="/users/1" onclick="route()">User 1</a></li>
            <li><a href="/users/2" onclick="route()">User 2</a></li>
        </ul>
    </nav>

    <img src="/images/img.jpeg" alt="" width="400" height="300">

    <script src="/client.js"></script>
</body>

</html>